{% extends "competition_base.html" %}

{% block single_col_content %}
<div id="judge"><br><br>
<div class="appbar1">Judge Registration Form<div class="apptitle">MVHBC Competition - Saturday, June 1st 2013</div></div>

<div class="contentCopy"><p>Thank you for registering to Judge or Steward the Merrimack Valley Homebrew Club Competition.  We will be emailing Judges and Stewards leading up to the day of the competition to confirm your attendance.</p>

<p>Contact the the club at president@mvhbc.com if you have questions about the upcoming competition or the webmaster at webmaster@mvhbc.com if you have any questions about the website or this registration form.</p>
<br><br>
<p><a href="http://www.mvhbc.com/competition/">RETURN TO COMPETITION HOME PAGE</a></p>
<br><br><br>
<br><br><br>

</div>

{% endblock %}

