{% extends "competition_base.html" %}

{% block single_col_content %}
<div class="row">
<div class="span2">&nbsp;</div>
<div class="span3">
<h4 class="text-info">Shipping Address</h4>
<address>
<strong>Dana Collins</strong><br>
65 County Road<br>
Dracut, MA 01826<br>
</address>


<h4 class="text-info">Drop-Off Locations</h4>

<address>
<strong>Jasper's Homebrew</strong><br>
4 Temple St <br>
Nashua, NH 03060<br>
<abbr title="Phone">P:</abbr>(603) 881-3052<br>
</address>

<address>
<strong>Modern Homebrew Emporium</strong><br>
2304 Massachusetts Ave<br>
Cambridge, MA 02140<br>
<abbr title="Phone">P:</abbr>(617) 498-0400<br>
</address>

<address>
<strong>Beer Wine Hobby</strong><br>
155 New Boston St <br> 
Woburn, MA 01801<br>
<abbr title="Phone">P:</abbr>(781) 933-8818<br>
</address>
</div>
<div class="span6">
<br><br>
<div class="well well-large">
<p><strong>Drop-off Locations are available between May 1 and  May 18</strong></p>
<p>Entry deadline is Saturday, May 18th, 2013. Late entries will neither be judged nor returned.</p>
<p>Bottle labels, which are generated as part of the registration procedure, must be attached to each bottle with a rubber band. No tape or glue!</p>

</div>
</div>
</div>
{% endblock %}

