{% extends "competition_base.html" %}

{% block single_col_content %}

{% if is_officer %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Officer Tools</a>
    <ul class="nav">
      <li><a href="{% url ot_home %}">Home</a></li>
      <li class="active"><a href="{% url ot_entries %}">Entries</a></li>
      <li><a href="{% url ot_brewers %}">Brewers</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span1"></div>
  <div class="span11">
    <table class="table table-striped table-hover">
      <caption><h4 class="text-info">Competition Submissions</h4></caption>
      <thead>
        <tr>
          <th>Entry ID</th><th>Style</th><th>Category</th><th>Brewer</th><th>Brewer ID</th><th>Paid</th>
        </tr>
      <tbody>
        {% for e in entries %}
        <tr><td>{{e}}</td><td>{{ e.style }}</td><td>{{ e.style.category }}</td><td>{{ e.brewer.user.first_name }} {{ e.brewer.user.last_name }}</td><td>{{ e.brewer.user.pk }}</td>
            {% if e.paid %}
            <td><span class="btn btn-success btn-mini"><i class="icon-ok icon-white"></i></span></td>
            {% else %}
            <td><span class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i></span></td>
            {% endif %}

	    </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}

