<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Merrimack Valley Homebrew Club - Competition Page</title>
  <meta name="description" content="MVHBC Competition on June 1, 2013, Entries due by May 18, 2013" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link href="/css/bootstrap.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>


  <!-- FRAMEWORK -->
  <div id="mvFramework">

    <!-- MVHBC LOGO -->
    <div id="mvLogo"><a href="{% url "home" %}"><img src="/media/mvhbcLogo.jpg" width="400" height="235" border="0"></a></div>

   <!-- NAV BAR -->
    <div id="mvNavBar">
      <ul class="topTier">
        <li>
          <a class="mainDrop" href="{% url "home" %}">Club</a>
          <div class="dropDown">
            <a href="{% url "home" %}">Home</a>
            <a href="{% url "about" %}">About</a>
	    <a href="{% url "membership" %}">Membership</a>
            <a href="{% url "officers" %}">Officers</a>
          </div>
        </li>
        <li>
          <a class="mainDrop" href="{% url "competition_home" %}">Competition</a>
          <div class="dropDown">
            <a href="{% url "competition_home" %}">Welcome</a>		  
            <a href="{% url "login" %}">Login</a>
            <a href="{% url "register" %}">Register</a>
            <a href="{% url "competition_info" %}">Entry Info</a>
            <a href="{% url "competition_locations" %}">Mail / Drop-Off Locations</a>
 
           
            <a href="{% url "competition_sponsors" %}">Sponsors</a>
 <a href="{% url "judge_register" %}">Judge Registration</a>
            
<a href="{% url "competition_results" %}">2012 Results</a>
          </div>
        </li>		
        <li>
          <a class="mainDrop" onclick="return false;" href="http://www.mvhbc.com/resources/">Resources</a>
          <div class="dropDown">
            <a href="{% url "resources" %} ">Links</a>
			<!--
            <a href="http://www.mvhbc.com/resources/recipes.html">Recipes</a>
            <a href="http://www.mvhbc.com/resources/diy.html">Do-It-Yourself</a>
            
            <a href="http://www.mvhbc.com/resources/news.html">Beer in the News</a>
			-->
          </div>
        </li>
        <li>
          <a class="mainDrop" href="http://www.mvhbc.com/index.php">Members</a>
          <div class="dropDown">
            <a href="http://www.mvhbc.com/index.php">Message Board</a>
            <a href="http://www.mvhbc.com/webmail">Webmail</a>
          </div>
        </li>
      </ul>
      <div style="clear:both"></div>
	</div>
	<!-- NAV BAR FOR JAVASCRIPT DISABLED USERS -->
	<noscript>
	  <div class="subnav">
	    <ul>
          <li><a href="http://www.mvhbc.com/competition/">Welcome</a></li>	  
          <li><a href="http://www.mvhbc.com/competition/results2012.html">2012 Results</a></li>
        </ul>
      </div>
	</noscript>
    <!-- MAIN/LEFT COL -->
    <div id="mvMainCol">
      {% block main_col_content %}{% endblock %}
    </div>
    <!-- SUB/RIGHT COL -->	
    <div id="mvSubCol">
      {% block sub_col_content %}
 <!-- CLUB CALENDAR IFRAME -->
	  <iframe id="jsCal" border=0 frameborder=0 src="https://www.google.com/calendar/embed?title=Merrimack%20Valley%20Homebrew%20Club%20Calendar&amp;showPrint=0&amp;mode=AGENDA&amp;height=225&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=mvhbclub%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York"></iframe>
	  <!-- IFRAME CALENDAR FOR JAVASCRIPT DISABLED USERS -->
	  <noscript>
      <iframe src="https://www.google.com/calendar/htmlembed?title=Merrimack%20Valley%20Homebrew%20Club%20Calendar&showPrint=0&mode=AGENDA&height=225&wkst=1&bgcolor=%23FFFFFF&src=mvhbclub%40gmail.com&color=%232952A3&ctz=America%2FNew_York" width="980" height=250 border=0 frameborder=0></iframe>
	  </noscript>  
      {% endblock %}
    </div>
    
    <div style="clear:both"></div>
    <!-- FOOTER BAR -->
    <div id="mvFooterBar">Merrimack Valley Homebrew Club &nbsp; ~ &nbsp; Contact Us! &nbsp; &nbsp;  Membership:<a href="mailto:president@mvhbc.com">president@mvhbc.com</a> &nbsp; &nbsp;  Website:<a href="mailto:webmaster@mvhbc.com">webmaster@mvhbc.com</a></div>

  </div>
  <script type="text/javascript" src="/script/bootstrap.js"></script>
  <script src="/script/mvMain.js"></script>
</body>
</html>
