{% extends "club_shell.html" %}

{% block main_col_content %}
 <h2>About Merrimack Homebrewers Club</h2>
	  <p>The Merrimack Valley Homebrew Club is an AHA registered club that was founded by 2 homebrewers during the summer of 2008. The club was formed to bring fellow brewers together to share their experiences, knowledge and of course their beer. The club's membership includes everyone from novice brewers to seasoned veterans. We have extract, partial mash and all grain brewers, as well as having some members who have beer judging experience.</p>
	  <p>The club meets the first Saturday of every month at beer bars, member's homes, brew pubs or restaurants. If you would like more information on the club please email one of the officers and they will be glad to answer any questions you might have.</p>
	  <p class="ital">Cheers!</p>
	  <img src="{% url home %}media/twodudes.jpg" border=0 width=450 height=337>
{% endblock %}


