{% extends "club_shell.html" %}

{% block main_col_content %}
 <h2>Club Officials</h2>
	  <p class="officers"><b>President</b><br>
	    <span>Matt Savage</span><br>
		<a href="mailto:president@mvhbc.com">president@mvhbc.com</a>
	  </p>
	  <p class="officers"><b>Vice President</b><br>
	    <span>John Kalinowski</span><br>
		<a href="mailto:vicepresident@mvhbc.com">vicepresident@mvhbc.com</a>
	  </p>
	  <p class="officers"><b>Secretary</b><br>
	    <span>Dana Collins</span><br>
		<a href="mailto:secretary@mvhbc.com">secretary@mvhbc.com</a>
	  </p>
	  <p class="officers"><b>Webmaster</b><br>
	    <span>David Thomas</span><br>
		<a href="mailto:webmaster@mvhbc.com">webmaster@mvhbc.com</a>
	  </p>
{% endblock %}


