{% extends "club_shell.html" %}

{% block main_col_content %}
 <h2>Welcome to the biggest bunch of beer fanatics this side of the Merrimack River!</h2>
	  <p>The Merrimack Valley Homebrewers Club is an organization representing the most obsessed and innovative homebrewing individuals in the Merrimack Valley. Formed to share our love of all things sudsy and cold, we are an active group of beer drinkers with an engineering problem.</p>
	  <p>Our club offers local homebrewers the chance to trade tips and sample home brewed ales and lagers with other brewers in the area.  You will find both new hobbyists and seasoned veterans at our monthly meetings sharing brewing stories and talking shop about equipment and techniques.  Challenge yourself at one of our club contests, join the community at our annual homebrew competition, or just show off your latest creation.  Even if you've never brewed before there is so much going on that your mind (and liver) might explode from all the beery goodness!</p>
	  <img src="media/hops.jpg" border=0 width=450 height=337>
{% endblock %}


