{% extends "club_shell.html" %}

{% block main_col_content %}
 <h2>Membership</h2>
	  <p>The yearly dues are $20 for individual membership and $25 for family membership. As a member you will receive a free email account, access to the club message board and admission to the competititons, club outings and lots of other fun events.</p>
	  <p>The Merrimack Homebrewing Club meets the first Saturday of every month. Usually alternating between different pubs, breweries and members who are gracious enough to host the monthly meeting.</p>
	  <p>If you would like more information please feel contact the club <a href="mailto:president@mvhbc.com">President</a> or you are welcome to attend one of our monthly meetings.</p>

{% endblock %}


